body {
    padding: 0;
    margin: 0;
    font-size: 24px;
}

h1 {
    background: red;
    color: white;
    text-align: center;
    margin: 0;
}

hr {
    margin: 20px 0;
    border-color: rgb(189, 151, 49);
}

.game {
    background: blue;
    color: white;
    width: 80%;
    margin: auto;
    padding: 16px;
    position: relative;
}

.question {
    margin-bottom: 16px;
}

.question .question-num {
    font-size: 28px;
    margin: 0 5px;
    width: 60px;
}

.answers {
    display: flex;
    justify-content: space-around;
}

.option {
    width: 20%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(100, 100, 156);
    font-size: 44px;
    cursor: pointer;
}

.option:hover {
    background: rgb(152, 152, 209);
}

@media(max-width: 440px) {
    .option {
        font-size: 30px;
    }
}

@media(max-width: 300px) {
    .answers {
        display: block;
    }

    .option {
        width: 90%;
        height: 40px;
        margin: auto;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(100, 100, 156);
        font-size: 32px;
    }
}

#report {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 60px;
    right: 0;
    background: greenyellow;
    color: blue;
    z-index: 1;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    display: none;
}

.menu {
    background: green;
    margin: 32px 0 0 0;
    text-align: center;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
}

.menu p {
    width: fit-content;
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
    border-radius: 8%;
}

.menu p:hover {
    background: greenyellow;
}